.post__image{
    width: 100%;
    object-fit: contain;
}

h4{
    font-weight: normal;
}

.post__header{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
}

.post__caption{
    padding: 10px;
    padding-bottom: 0px;
}

.post{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 2%;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.post__username{
    font-size: 1.1rem;
}

.post__comments{
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
}

.post__commentbox{
    flex: 1;
    height: 20px;
    padding: 5px;
}

.post__commentbutton{
    flex: 0;
    text-decoration: none;
    background-color: white;
    color: blue;
    font-weight: bold;
    cursor: pointer;
    padding: 1%;
}

.post__commentscroll{
    max-height: 70px;
    overflow-y: scroll;
}

.post__commentdiv{
    display: flex;
    align-items: center;
}

.post__commentelement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    padding-top: 7px;
    margin-left: 0;
}

#likeButton{
    width: 5%;
    margin: 2px 10px;
    cursor: pointer;
    color: rgb(192, 192, 192);
    // transition: all 2s ease-in;
    // :hover{
    //     transform: scale(1.1);
    // }
}

#likeButtonFilled{
    color: red;
    width: 5%;
    margin: 2px 10px;
    cursor: pointer;
}

.post__likesCount{
    margin: 2px 10px;
    font-weight: bold;
}