.post__image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

h4 {
  font-weight: normal;
}

.post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 10px;
}

.post__caption {
  padding: 10px;
  padding-bottom: 0px;
}

.post {
  border: 1px solid #dadada;
  border-radius: 2%;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.post__username {
  font-size: 1.1rem;
}

.post__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 15px;
}

.post__commentbox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 20px;
  padding: 5px;
}

.post__commentbutton {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  text-decoration: none;
  background-color: white;
  color: blue;
  font-weight: bold;
  cursor: pointer;
  padding: 1%;
}

.post__commentscroll {
  max-height: 70px;
  overflow-y: scroll;
}

.post__commentdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__commentelement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
  padding-top: 7px;
  margin-left: 0;
  gap: 30px;
  overflow-wrap: break-word;
}

.post__likesCount {
  margin: 2px 10px;
  font-weight: bold;
}

.tweet {
  border: 1px solid #dadada;
  border-radius: 2%;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.tweet__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  gap: 10px;
}

.tweet__words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 3px;
  word-wrap: normal;
}

.tweet__atUsername {
  font-weight: normal;
}

.tweet__likeFeature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tweet__caption {
  font-size: 1.2rem;
  word-wrap: normal;
  overflow-wrap: break-word;
  margin: 15px 0px;
}

.tweet__likeFeature {
  margin-left: 48px;
}

.tweet__commentbutton {
  color: white;
  padding: 7px 15px;
  background-color: #49b6ff;
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
  font-size: 1.0rem;
  border-radius: 40%;
  margin: 10px;
  margin-top: 0;
  cursor: pointer;
}

.tweet__commentbox {
  padding: 10px;
  width: 90%;
  height: 30px;
  font-size: 1rem;
  background-color: white;
}

.tweet__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96%;
  margin: 10px;
  margin-bottom: 0;
  gap: 10px;
  padding-top: 15px;
}

.tweet__commentscroll {
  max-height: 130px;
  overflow-y: scroll;
}

.tweet__commentelement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
  margin-left: 0;
  margin-right: 0;
}

.tweet__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96%;
  margin: 10px;
  margin-bottom: 0;
  gap: 10px;
  padding-top: 15px;
}

.tweet__usernameAndTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tweet__commentTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tweet__icons {
  width: 5%;
  margin: 2px 10px;
  cursor: pointer;
  color: silver;
}

.tweet__iconLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  width: 30px;
  margin: 2px 10px;
  cursor: pointer;
}

#likeButton {
  width: 30px;
  margin: 2px 10px;
  cursor: pointer;
}

#likeButtonFilled {
  color: red;
  width: 30px;
  margin: 2px 10px;
  cursor: pointer;
}

.post__iconRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
}

.post__iconFullRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tweet__body {
  border-bottom: 1px solid #dadada;
  padding-bottom: 15px;
}

.tweet__iconLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 45px;
  color: #686868;
}

.tweetbtn {
  width: 25px !important;
  margin: 2px 10px;
  cursor: pointer;
}

.tweet__iconLineComment {
  width: 200% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0px;
  margin-right: 0 !important;
  color: #686868;
}
/*# sourceMappingURL=Post.css.map */