.postUpload__post{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.postUpload__caption{
    padding: 10px;
    width: 60%;
    border: 1px solid black;
    background-color: rgb(247, 247, 247);
}

.postUpload__file{
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

input[type="file"] {
    display: none;
}

.h-5{
    width: 15%;
}

.postUpload__image{
    width: 150px;
}

.postUpload__button{
    color: black;
    // :hover{
    //     background-color: white;
    // }
}

.h-6{
    width: 30%;
    :hover{
        background-color: white;
    }
}