*, html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	// font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    background-color: rgb(247, 247, 247);
}

h1{
    font-family: 'Square Peg', cursive;
    font-size: 2.5rem;
}

.app__header{
    background-color: rgb(255, 255, 255);
    padding: 17px 15%;
    border: 1px solid rgb(218, 218, 218);
    position: sticky;
    top: 0px;
    cursor: pointer;
    display: flex;
    gap: 70%;
}

a{
    text-decoration: none;
    color: black;
}

.app__feed{
    display: flex;
    margin-top: 20px;
    gap: 30px;
}

.app__scroll{
    background-color: rgb(255, 255, 255);
    width: 40%;
    margin-left: 20%;
    border-radius: 2%;
}

.app__profile{
    background-color: white;
    width: 20%;
    border-radius: 2%;
    height: 40vh;
    position: sticky;
    top: 97px;
}

.app__signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__profileContainer{
    text-transform: none;
    width: 100%;
}

.app__button{
    text-transform: none;
    font-size: 2rem;
}

.app__userline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 13px;
}

.app__signInSignUp{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
}